html, body {
  height: 100%;
  margin: 0;
  background-color: black;
  color: #FAF9F6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Josefin Sans', 'Quicksand', 'Zen Maru Gothic', sans-serif;
  overflow: hidden;
  cursor: none;
}

::selection {
    background-color: #FAF9F6;
    color: skyblue;
}

.circle-cursor {
    position: fixed;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    pointer-events: auto;
    z-index: 9999;
    display: none;
}

.name {
    font-size: 70px;
    font-weight: lighter;
    font-variant: small-caps;
    margin: 0;
    bottom: 80%;
    left: 10%;
    position: absolute;
}

.container {
  top: 25%;
  left: 10%;
  position: absolute;
}


.subrectangle {
    margin-top: 1.5px;
    margin-bottom: 1.5px;
}

.subrectangle h2 {
  font-size: 16pt;
  margin-bottom: 1px;
  font-family: 'Josefin Sans', 'Quicksand', 'Zen Maru Gothic', sans-serif;
  margin-top: auto;
  padding-left: 0;
}

.section-container {
padding-left: 7.5px;
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 0;
  transition: max-height 1s ease-in-out;
}


.section-container.expanded {
  max-height: 1000px;
    visibility: visible;
}


#about-container, #involvements-container {
  height: 100%;
  width: 425px; 
  vertical-align: middle;
    margin: 0;
} 

#about-container h5{
  font-family: 'Josefin Sans', 'Quicksand', 'Zen Maru Gothic', sans-serif;
  line-height: 1.25;
  font-size: 10pt;
  margin-top: 10px;
  margin-bottom: 10px;
}

#involvements-container h5 {
  font-family: 'Josefin Sans', 'Quicksand', 'Zen Maru Gothic', sans-serif;
  font-size: 10pt;
  margin-top: 10px;
  margin-bottom: 10px;
}

#involvements-container a {
  font-family: 'Josefin Sans', 'Quicksand', 'Zen Maru Gothic', sans-serif;
  font-size: 10pt;
    color: skyblue;
}

#involvements-container a:hover {
    color: plum;
}

.publication, .project {
  height: 25px;
  width: 620px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


.publication h5, .project h5{
  font-size: 10pt;
  font-family: 'Josefin Sans', 'Quicksand', 'Zen Maru Gothic', sans-serif;
}

a {
    text-decoration: none;
    color: #FAF9F6;
    cursor: none;
    
}

.subrectangle:hover h2, 
.publication:hover h5, 
.project:hover h5 {
  color: skyblue;
}


#vibrations-image, #CP-image, #CS-image, #PWD-image, #Beatles-image {
  position: fixed;
  top: 40%;
  right: 15%;
  transform: translateY(-50%);
  width: 250px; /* Adjust image width as needed */
  height: auto; /* Maintain aspect ratio */
    display: none;
    z-index: 9998;
}

#vibrations-project:hover #vibrations-image, #CP-project:hover #CP-image, #CS-project:hover #CS-image, #PWD-project:hover #PWD-image, #Beatles-project:hover #Beatles-image {
    display: block;
}

.circle {
  position: absolute;
  right: -12px;
  transform: translateY(155%);
  width: 5px;
  height: 5px;
  background-color: skyblue;
  border-radius: 50%;
  display: none;
}

.section-container.expanded .publication .circle {
  display: block;
}


.publication span {
    white-space: nowrap;
    vertical-align: middle;
    line-height: .5;
    font-size: 90%;
    color: plum;
    visibility: hidden;
}

.line {
  position: absolute;
  right: -10px;
  transform: translateY(52%);
  width: .5px;
  height: 100px;
  background-color: skyblue;
  border-radius: 50%;
  display: none;
    visibility: hidden;
}

.section-container.expanded .publication .line {
  display: block;
    transition: max-height 1s ease-in-out;
}



.LinkedInLogo {
    padding-top: 10px;
    width: 15px; 
    height: auto;
}

.TwitLogo {
    width: 25px;
    height: auto;
}

.EmailLogo {
    width: 17.5px;
    height: auto;
    padding-bottom: 2.5px;
}

.contact {
    display: inline-block;
}