html, body {
  margin: 0;
  padding: 0;
    background-color: black;
  justify-content: center;
  align-items: center;
    overflow: hidden;
}
canvas {
  display: inline-block;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

h4 {
    font-size: 250%;
    color: pink;
    font-family: 'Roboto', sans-serif;
    padding-left: 50px;
}

a {
    text-decoration: none;
}

.loading-container {
    display: flex;
    align-items: center;
      transform: translate(-50%, -50%);
      top: 50%;
  left: 50%;
    position: absolute;
    z-index: -1;
}

.loading-dot {
    width: 25px;
    height: 25px;
    background-color: #333;
    border-radius: 50%;
    margin: 0 4px;
    animation: blink 1.5s infinite;
    animation-delay: 0.2s;
    background-color: pink;
}

.loading-dot:nth-child(2) {
    animation-delay: 0.4s;
}

.loading-dot:nth-child(3) {
    animation-delay: .6s;
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}